fade-in {
    font-family: Arial;
    color: white;
    font-size: 60px;
    height: 300px;
    width: 645px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -10%);
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

body {
    background: #383c3d;  /* fallback for old browsers */
}

* {
    --background: #00000;
    --beforeHover: #294D5C;
    --afterHover: #1d1e21;
    --font: #DCE1DE;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center; 
}

#text {
    font-family:'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    text-align: start;
}